{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
        <!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Bootstrap CSS -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

		<style>
			.larger-font {
				font-size: 22px;
			}
		</style>

        <title>BlockSneakers - Start2Impact Blockchain Final Project by Riccardo Santi</title>

    </head>
    <body>
		<div class="wrapper d-flex flex-column min-vh-100">

			<!-- Navbar -->
			<nav class="navbar navbar-expand-lg navbar-light container-fluid" style="background-color: #2446e1;">
				<!-- website logo image -->
				<a class="navbar-brand py-0" href="/">
					<img src="{% static 'logo3.png' %}" alt="BlockSneakers Logo" style="max-width: 80%;">
				</a>
				<!-- navbar mobile browser adaptation -->
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<!-- navbar links and dropdowns -->
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">

						<!-- if user is admin -->
						{% if user.is_staff %}
							<li class="nav-item">
									<a class="nav-link larger-font" href="/new-auction" style="color: white;">New auction</a>
								</li>

							<li class="nav-item">
								<a class="nav-link larger-font" href="/open-auctions/" style="color: white;">Open Auctions</a>
							</li>

							<li class="nav-item">
								<a class="nav-link larger-font" href="/closed-auctions/" style="color: white;">Closed Auctions</a>
							</li>

							<li class="nav-item">
								<a class="nav-link larger-font" href="/logout/" style="color: white;">Logout</a>
							</li>

						<!-- if user is logged -->
						{% elif user.is_authenticated %}
							<li class="nav-item">
								<a class="nav-link larger-font" href="/new-bid/" style="color: white;">Make a bid</a>
							</li>

							<li class="nav-item">
								<a class="nav-link larger-font" href="/open-auctions/" style="color: white;">Open Auctions</a>
							</li>

							<li class="nav-item">
								<a class="nav-link larger-font" href="/my-bids/" style="color: white;">My bids</a>
							</li>

							<!-- Account MENU -->
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle larger-font" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
									<strong>{{ user.username }}</strong>
								</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
									<li><a class="dropdown-item larger-font" href="/profile/">Profile</a></li>
									<li><a class="dropdown-item larger-font" href="/dashboard/">Dashboard</a></li>
									<li><a class="dropdown-item larger-font" href="/auctions-won/">Auctions Won</a></li>
									<li><a class="dropdown-item larger-font" href="/closed-auctions/">Closed Auctions</a></li>
									<li><hr class="dropdown-divider"></li>
									<li><a class="dropdown-item larger-font" href="/logout/">Logout</a></li>
								</ul>
							</li>

						<!-- if user is not logged -->
						{% else %}
							<li class="nav-item">
								<a class="nav-link larger-font" href="/login/" style="color: white;">Login</a>
							</li>

							<li class="nav-item">
								<a class="nav-link larger-font" href="/register/" style="color: white;">Register</a>
							</li>
						{% endif %}

						<!-- About MENU -->
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle larger-font" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
								About
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item larger-font" href="https://www.linkedin.com/in/riccardo-santi/" target="_blank">My Linkedin</a></li>
								<li><a class="dropdown-item larger-font" href="https://github.com/Riksa011" target="_blank">My Github</a></li>
							</ul>
						</li>
					</ul>
				</div>
		</nav>

			<!-- Template extension block content -->
			<div class="content-wrapper" style="max-width: 90%;margin: 0 auto;">
      			{% block content %}
      			{% endblock %}
    		</div>

			<!-- Footer -->
			<footer class="py-1 mt-auto">
				<ul class="nav justify-content-center border-top pb-1 mb-1">
					<li class="nav-item"><a class="nav-link px-2 text-muted"><strong>Riccardo Santi</strong></a></li>
					<li class="nav-item"><a class="nav-link px-2 text-muted">© 2023 Start2Impact Blockchain Final Project</a></li>
				</ul>
			</footer>

	    </div>

		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-Gf0vvTFUfHN3vMYTy5Tw5nFudKkH3F0z6WAwCt8HfGlS3Rn05JmZR4bcJVo5z36S" crossorigin="anonymous"></script>

		<!-- Bootstrap JS -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	</body>
</html>