{% extends 'blocksneakers/base.html' %}
{% load static %}

{% block content %}
	<div class="container">
		<br>
		<div class="row">
			<div class="col-md-12 my-3">
				<img src="static/homepage1.png" alt="BlockSneakers Homepage Logo" class="img-fluid mx-auto d-block" style="max-width: 50%;">
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-12 my-4 text-center small">
				<h3>The main purpose of this project is to build an auction platform to sell limited edition shoes for an eco-friendly footwear company using Django, Redis and Web3PY</h3>
			</div>
		</div>
		<br>
	</div>
{% endblock %}